/**
*	appcenter 样式表
*	@author Jet-Muffin
*/

/**
*	3-D button
*/
a.dim {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}
a.dim:active {
  top: 3px;
}
a.btn-primary.dim {
	  box-shadow: inset 0px 0px 0px #16987e, 0px 5px 0px 0px #16987e, 0px 10px 5px #999999;
}
a.btn-primary.dim:active {
	  box-shadow: inset 0px 0px 0px #16987e, 0px 2px 0px 0px #16987e, 0px 5px 3px #999999;
}
a.btn-default.dim {
	  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #999999;
}
a.btn-default.dim:active {
	  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 2px 0px 0px #b3b3b3, 0px 5px 3px #999999;
}
a.btn-warning.dim {
	  box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
}
a.btn-warning.dim:active {
	  box-shadow: inset 0px 0px 0px #f79d3c, 0px 2px 0px 0px #f79d3c, 0px 5px 3px #999999;
}
a.btn-info.dim {
	  box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
}
a.btn-info.dim:active {
	  box-shadow: inset 0px 0px 0px #1eacae, 0px 2px 0px 0px #1eacae, 0px 5px 3px #999999;
}
a.btn-success.dim {
	  box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
}
a.btn-success.dim:active {
	  box-shadow: inset 0px 0px 0px #1872ab, 0px 2px 0px 0px #1872ab, 0px 5px 3px #999999;
}
a.btn-danger.dim {
	  box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;
}
a.btn-danger.dim:active {
	  box-shadow: inset 0px 0px 0px #ea394c, 0px 2px 0px 0px #ea394c, 0px 5px 3px #999999;
}
a.dim:before {
	  font-size: 50px;
	  line-height: 1em;
	  font-weight: normal;
	  color: #fff;
	  display: block;
	  padding-top: 10px;
}
a.dim:active:before {
  top: 7px;
  font-size: 50px;
}
.btn-large-dim {
	width: 90px;
	height: 90px;
	font-size: 42px;
}
.applist{
	padding: 10px 0;
}
.app-item{
	text-align: center;
}
.app-detail h3{
	margin: 5px 0; 
}

.chosen-container-single .chosen-single{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	border-radius: 0 !important;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.picture-overview label{
	display: block;
}
.process-control .slider{
	padding-top: 8px;
}
.button-group{
	margin-top: 20px;
	margin-right: 10px;
}
#basic_slider{
	padding-right: 0;
}
.scale-link,.crop-link,.watermask-text-link,#jcrop-word{
  padding: 7px 15px 0;
  font-weight: bold;
}
.project-title a {
  font-size: 14px;
  color: #676a6c;
  font-weight: 700;
}
.project-list table tr td {
  border-top: none;
  border-bottom: 1px solid #e7eaec;
  padding: 15px 10px;
  vertical-align: middle;
}
.hd-dialog{
  width: 450px !important;
}
.hd-dialog .chosen-container{
  width: 420px !important;
}