/**
* @author Jet-Muffin
*/
body{
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #676A6C;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #676A6C;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
	color: #676A6C;	
}
ul{
	margin: 0;
	padding: 0;
}
h1, h2 , h3 {
	margin: 0;
}
p{
	/*margin: 0;*/
}
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #676a6c;
}
#wrap{
	width: 100%;
	background-color: #2F4050 !important;
}

/**
*	sidebar
*	@author Jet-Muffin
*/
.sidebar{
	position: absolute;
	z-index: 101;
	width: 220px;
	background-color: #2F4050 !important;
	color:#A7B1C2;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	height: 100%;

}
.sidebar a{
	color: #a7b1c2;
}
.sidebar-nav> .nav-li {
	position: relative;
	display: block;
}
.sidebar-nav > .nav-li > a {
	color: #a7b1c2;
	font-weight: 600;
	padding: 14px 20px 14px 25px;
}
.sidebar-nav >.nav-li :hover{
	background-color: #293846 !important; 
	color: #fff;
}
.sidebar-nav > .active {
	border-left: 4px solid #19aa8d;
	background-color: #293846 ;
}
.sidebar-nav >  .active > a{
	color: #fff;
}
.sidebar-nav >  .active ul{
	border: 0;
	background-color: #293846 ;
}
.sidebar-nav >.nav-li   > ul{
	color:#A7B1C2;
}
.profile-element img{
	margin-bottom: 5px;
}
.profile-element span{
	display: block;
}
.nav-second-level li a {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 50px;
}
.nav-header{
	height: 155px;
	background-image: url("../images/header-profile.png");
	padding: 33px 25px;
}
.nav-label{
	margin-left: 5px;
}
.page-wrapper{
	background-color: #f3f3f4;
	margin: 0 0 0 220px;
}

/**
*	nav-top
*	@author Jet-Muffin
*/
.border-bottom {
	border-bottom: 1px solid #e7eaec !important;
}
.minimalize-styl-2 {
	padding: 4px 12px;
	margin: 14px 5px 5px 20px;
	font-size: 14px;
	float: left;
	background-color: #1AB394;
	border-color: #1AB394;
}
.minimalize-styl-2:hover{
	background-color: #18A588;
	border-color:#18A588;
}
.navbar-top-links{
	margin-right: 0;
}
.navbar-top-links li {
	display: inline-block;
}
.navbar-top-links span{
	color: #999C9E !important;
}
.navbar-top-links li a {
	padding-top: 18px;
	padding-bottom: 14px;
	min-height: 50px;
	color: #777;
}
.page-heading{
	background-color: #fff;
	border-top: #E7EAEC 4px solid;
	padding: 5px 0;
}
.page-heading h2{
	font-weight: normal;
}
.page-heading .breadcrumb{
	background-color: #fff;
	margin-bottom: 0 !important;
}

/**
*	wrap-content
*	@author Jet-Muffin
*/
.wrapper-content{
	padding: 20px;
}

/**
*	item-box
*	@author Jet-Muffin
*/

.ibox {
	clear: both;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0;
}
.ibox-title {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #ffffff;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 4px 0px 0;
	color: inherit;
	margin-bottom: 0;
	padding: 14px 15px 7px;
	height: 48px;
}
.ibox-title h5 {
	display: inline-block;
	font-size: 14px;
	margin: 0 0 7px;
	padding: 0;
	text-overflow: ellipsis;
	float: left;
}
.ibox-tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0;
}
.ibox-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4;
}
.ibox-content {
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px;
	clear:both;
}

/**
*	Input rewrite
*	@author Jet-Muffin
*/
.jet-input{
	border-radius: 0;
}
.jet-input:focus{
	border-color: #1AB394;
	box-shadow: none;
}

/**
*	Button rewrite
*	@author Jet-Muffin
*/
.jet-button:hover,.jet-button:active{
	background-color: #18a689;
	border-color: #18a689;
}
.jet-button{
	background-color: #1AB394;
	border-color:#1AB394;
}
.row{
	margin: 0 !important;
}
.clear{
	clear: both;
}