/**
*	UserCenter样式表
*	@author Jet-Muffin
*/

.account-item{
	color: #444;
	margin-left: 10px;
}
.account-vldt a{
	color: #70c1d3;
}
.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
	margin-bottom: 0;
}
.hr-line-dashed {
	border-top: 1px dashed #e7eaec;
	color: #ffffff;
	background-color: #ffffff;
	height: 1px;
	margin: 20px 0;
}
.user-logs .ibox-content{
	min-height: 400px;
}
.table > thead > tr > th {
	border-bottom: 1px solid #DDDDDD;
	vertical-align: bottom;
}
.pagination{
	margin:  0 0 20px 0 !important;
}
.logs-control{
	position: absolute;
	bottom: 20px;
}
.logs-time{
	width: 30%;
}
.logs-pagination{
	float: left;
}
.logs-search-button{
	float: left;
	margin-right: 10px;
}